header {
  @include center;
  width: 95%;
  max-width: 1200px;
  height: 75px;
  background-color: $light-grey;
  padding: 15px 30px;
  .top-logo {
    float: left;
    padding-top: 10px;
  }
  ul {
    list-style: none;
    float: right;
    li {
      display: inline;
      padding-left: 20px;
    }
  }
}
