// Colors
$dark-blue: rgba(37, 90, 125, 1);
$light-blue: rgba(48, 121, 171, 1);
$dark-grey: rgba(123, 139, 142, 1);
$light-grey: rgba(237, 239, 240, 1);
$medium-grey: rgba(230, 232, 232, 1);
$black: rgba(56, 64, 71, 1);

// Fonts
$valera: 'Varela Round', sans-serif;

// Paths
$image-path: '../img/'
